.accordion-button:focus {
    box-shadow: none!important;
}

.accordion-button:not(.collapsed) {
    background-color: white!important;
    box-shadow: none!important;
    color: black!important;
}

.accordion-button::after {
    background-image: url("../img/icon-arrow.svg")!important;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
    filter: invert(47%) sepia(95%) saturate(1098%) hue-rotate(324deg) brightness(97%) contrast(102%);
}