@include media-lg {
  #plain-text {
    font-size: 1rem !important;
  }

  .narrow-text {
    width: 50%;
  }

  .mw-lg-750px {
    max-width: 750px!important;
  }

  .tab-text {
    max-width: 320px!important;
  }

  //navbar**********************************
  .navbar-brand img {
    width: 100px!important;
  }
  
  .nav-item a {
    color: #9c9c9c!important;
    border-top: 0 !important;
    font-size: 0.6rem;
  }

  .navbar-collapse .navbar-nav .nav-item {
    border: 0 !important;

    &:nth-child(1) .nav-link:hover {
      color: #fa5959!important;
    }

    &:nth-child(2) .nav-link:hover {
      color: #fa5959!important;
    }

    &:nth-child(3) .nav-link:hover {
      color: #fa5959!important;
    }

    &:last-child .nav-link {
      color: #fff !important;
      background-color: #fa5959;
      border: 1px solid #fa5959 !important;
      border-radius: 5px;
      width: 70px!important;
      height: 25px!important;

      &:hover {
        background-color: #fff;
        color: #fa5959 !important;
      }
    }
  }

  //main**********************************

  .mw-lg-500px{
    max-width: 500px!important;
  }

  .blue-btn:hover {
    background-color: #fff!important;
    color: #5265e0!important;
  }
  
  .circle {
    top: 125px!important;
    left: 70px!important;
    height: 200px!important;
    width: 200px!important;
  }
  
  .square {
    top: 125px!important;
    height: 200px!important;
  }
  
  .white-square {
    top: 124px!important;
    height: 202px!important;
    width: 171px!important;
  }

  .circle-right {
    top: 150px!important;
    right: 50px!important;
  }
  
  .square-right {
    top: 150px!important;
  }
  
  .white-square-right {
    top: 149px!important;
  }


  //tabs**********************************
  #myTab {
    flex-direction: row !important;

    & .nav-item {
      border-top: 0 !important;
      border-bottom: 1px solid rgb(193, 193, 193) !important;

      & .nav-link:hover {
        color: #fa5959 !important;
      }
    }
  }

  //cards**********************************
  .cardsRow {
    position: relative;
    width: 992px;
    height: 460px;

    & > div:nth-child(1) {
      position: absolute;
      top: 0%;
      left: 10%;
    }

    & > div:nth-child(2) {
      position: absolute;
      top: 5%;
      left: 376px;
    }

    & > div:nth-child(3) {
      position: absolute;
      top: 10%;
      right: 10%;
    }
  }

  //accordion**********************************
  .accordion-button:hover {
    color: #fa5959;
  }

  //footer**********************************
  footer form > div {
    display: flex;
    justify-content: space-between;

    & > div {
      width: 69% !important;
    }

    & > button {
      width: 29% !important;
      height: 100%;

      &:hover {
        background-color: #fff!important;
        color: #fa5959 !important;
      }
    }
  }

  .invalid-tooltip {
    position: absolute !important;
    top: 37.19px!important;
  }

  footer > div:nth-child(2) {
    justify-content: flex-end;
    max-height: 60px;

    div:nth-child(1) {
      align-self: center;
    }
    div:nth-child(2) {
      margin-right: auto;
      align-self: center;
    }
  }

  .footer-link {
    font-size: 0.6rem!important;
  }

  .footer-link:hover {
    color: #fa5959 !important;
  }

  footer .fab {
    font-size: 1.2rem!important;

    &:hover {
      filter: invert(48%) sepia(72%) saturate(2698%) hue-rotate(327deg) brightness(102%) contrast(97%) !important;
    }
  }
}
